@model Presupuesto
@{
    ViewData["Title"] = "Detalle Presupuesto";
}


<h4 class="text-start mt-2 m-3">Cliente: @Model.NombreDestinatario</h4>
<h5 class="text-start m-3">Fecha: @Model.FechaCreacion.Date.ToShortDateString()</h5>


<table class="table table-bordered m-2">
    <thead>
        <tr>
            <th hidden scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Producto</th>
            <th scope="col" class="text-center">Cantidad</th>
            <th scope="col" class="text-center">Precio Unitario</th>
            <th scope="col" class="text-center">Importe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in @Model.Detalle)
        {
            <tr>
                <td hidden class="text-center">@p.ProductoD.IdProducto</td>
                <td class="text-center">@p.ProductoD.Descripcion</td>
                <td class="text-center">@p.Cantidad</td>
                <td class="text-center">@p.ProductoD.Precio</td>
                <td class="text-center">@(p.Cantidad * p.ProductoD.Precio)</td>

            </tr>
        }
    </tbody>
</table>
